.navbar {
	background-color: rgba(0, 0, 0, .5);
	position: fixed;
	width: 100%;
	color: white;

	align-items: center;

	padding: 0 1rem;;

	display: flex;
	justify-content: space-around;
}

.navbar ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	align-items: stretch;
}

.navbar li {
	list-style: none;
	display: flex;
}

.navbar a {
	font-size: 30px;
	font-style: italic;
	font-family: "Brush Script MT", serif;
}

.nav-btn {
	color: inherit;
	text-decoration: none;
	padding: .25rem;
	margin: 0.75rem;
	letter-spacing: 1.5px;
}

.navbar li:hover {
	background-color: rgb(240, 233, 233);
	color: black;
}

.navbar li:active {
	background-color: rgb(194, 181, 181);
}

.navbar span:hover {
	display: flex;
	background-color: rgb(240, 233, 233);
	color: black;
}

.navbar span:active {
	display: flex;
	background-color: rgb(194, 181, 181);
}
