.square {
	background: #f2f2f5;
	border: 1px solid #161313;
	width: 80px;
	height: 40px;
}

.square:hover {
	background: #d6d1d1;
	cursor: pointer;
}

.square:active {
	background: #43c04e;
	font-size: 10px;
}